* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #000735;
  color: #eab8b2;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

label {
  font-size: 1rem;
  padding-right: 10px;
}
