$font-stack: "Barlow", sans-serif;
$font-header-stack: "Barlow Semi Condensed", sans-serif;

$primary-color: #eab8b2;
$secondary-color: #000735;
$white: hsl(0, 0%, 100%);
$red: #ff0000;
$light-grey: #ccc;
$light-blue: #2c3e50;

$mobile: 320px;
$tablet: 480px;
$small-screen: 768px;
$desktop: 1024px;
$hd-desktop: 1200px;
